.fs-14px {
  font-size: 14px; 
}

.nav-bar {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* 加入圓點 */
.point:hover ::before{
  content: "•";
  margin-right: 5px;
  color: white;
}
/* style=background:#09AFF4;" */
body{
  background: rgb(66, 94, 135);
}

.bg-blue{
  background: #09AFF4;
}

.color-blue{
  color: #09AFF4;
}

/* header */

.media-icon ul li{
  display: inline;
  list-style-type:none;
  padding: 5px;
  color: white;
}

.media-icon ul {
  padding: 0%;
}

.btn-media{
  border-radius:90%;
}
.btn-media-lr{
  border-radius:0 10px 0 10px;
}

.h-text h1{
  color: white;
  font-weight:900;
  letter-spacing:1px;
  font-size:50px;
}
.h-text h6{
  color: #09AFF4;
  font-weight: 600;
  font-size:large;
}
.h-text p{
  color: white;
}

.lh-4 {
  line-height:4  !important;
}

/* 圖片傾斜 */
#skewable-container {
  perspective: 1000px; /* 设置透视距离 */
  transform-style: preserve-3d; /* 保持3D样式 */
}

#skewable-image {
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

/* 02 */

.color-w{
  color: white;
}

.i-size{
  font-size: 4rem;
  margin-left: 20px;
  margin-top: 20px;
}

.c-title{
  font-weight: 700;
  text-decoration: none;
}

.c-title a{
  font-size:0.5rem;
}

.c-title h1{
  font-size:1.2rem;;
}