.fs-14px {
  font-size: 14px; 
}

.nav-bar {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* 加入圓點 */
.point:hover ::before{
  content: "•";
  margin-right: 5px;
  color: white;
}
/* style=background:#09AFF4;" */
body{
  background:#060922;
}

.bg-blue{
  background: #09AFF4;
}

.color-blue{
  color: #09AFF4;
}

/* header */

.media-icon ul li{
  display: inline;
  list-style-type:none;
  padding: 5px;
  color: white;
}

.media-icon ul {
  padding: 0%;
}

.btn-media{
  border-radius:90%;
}
.btn-media-lr{
  border-radius:0 10px 0 10px;
}

.h-text h1{
  color: white;
  font-weight:600;
  letter-spacing:1px;
  font-size:50px;
}
.h-text h6{
  color: #09AFF4;
  font-weight: 600;
  font-size:large;
}
.h-text p{
  color: white;
}

.lh-2 {
  line-height:3  !important;
}

/* 圖片傾斜 */
.skewable-container {
  perspective: 1000px; /* 设置透视距离 */
  transform-style: preserve-3d; /* 保持3D样式 */
}

.skewable-image {
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

/* 02 */

.card {
  position: relative; 
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0; 
  height: 100%; 
  background-color: #09AFF4; 
  z-index: -1;
  transition: width 0.5s ease; 
}

.card:hover::before {
  width: 100%;
}
.card:hover i {
  color: white;
}

.color-w{
  color: white;
}

.i-size{
  font-size: 4rem;
  margin-left: 20px;
  margin-top: 20px;
}

.c-title{
  font-weight: 700;
  text-decoration: none;
}

.c-title a{
  font-size:0.5rem;
}

.c-title h1{
  font-size:1.2rem;
}

#section03 p{
  font-size: 12px;
  color: gray;
}

.box{
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background: #1e3c48;
}

.box:hover{
  background: #09AFF4;
}

.box:hover i {
  color: #ffffff;
}

.box i{
  color: #09AFF4;
}


#section04 p{
  font-size: 12px;
  color: gray;
}

#section04 h2{
  font-size: 40px;
  font-weight:900;
  letter-spacing: 3px;
  color: #09AFF4;
}

#section05 h5{
  font-size: 3rem;
  font-weight:900;
  letter-spacing: 3px;
  /* color: #09AFF4; */
}

#section05 .card-top{
  border: 1px solid #09AFF4;
  border-top: 5px solid #09AFF4;
}

.box-1{
 border:1px solid #09AFF4;
 border-radius: 10px;
}

.line{
  width: 60%;
  height: 3px;
  background: #09AFF4;
  margin: auto;
}

.color-gray{
  color: gray;
}

.fs-7{
  font-size: 10px;
}

/* 10---------------------- */
.blog-btn{
  position: absolute;
  width: 120px;
  height: 30px;
  text-align: center;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.578);
  border-radius: 20px;
  top:10px;
}

/* footer----------------------- */
.f-text{
  font-size: 14px;
  text-decoration: none; 
}

#footer i {
  color: #09AFF4;
}

.f-box{
  width: 30px;
  height: 30px;
  border-radius: 10%;
  background:#09AFF4;
}

.f-box:hover{
  background: #ffffff;
}
#footer .f-box i{
  color: #ffffff;
}
#footer .f-box:hover i {
  color:#09AFF4;
}